/* sample style.css to use book-like, rather than HTML, paragraphs and titles */
img {
	display: block;
	margin: auto;
}
p {
	text-indent: 4em;
	padding: none;
	margin: 0
}
h1,h2,h3,h4,h5,h6 {
	text-align: center;
	left: 0;
	right: 0;
}
